/* styles.css */

div {
  color:rgb(5, 167, 129);
  background-color:black;
}

.a{
  color: rgb(5, 167, 129);
  font-family: "Times New Roman", serif;
  text-align:center;
}

.b {
  color:rgb(5, 167, 129);
  backgroung-color:black;
}